.makeRight{
    text-align: right;
    font-size: x-large;
    color:indigo;
    background-color: peachpuff;
}

.makeCenter{  
    color: maroon;
}

.header{
min-height:80px;
width:100%;
color:blue;
background:#94618e;

}

body{

    background:#f4decb
}
.width-300{
    width:300px;
}